{% extends 'base.html' %}




{% block title %} Patient Details {% endblock %}


{% block body %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
   <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">Hospital Managment</a>
   <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
   <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
         <a class="nav-link" href="/logout">Sign out</a>
      </li>
   </ul>
</nav>
<br>
<div class="container-fluid">
   <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
         <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
               <li class="nav-item">
                  <a class="nav-link active" href="/desk">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                     </svg>
                     Dashboard <span class="sr-only">(current)</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/pharmacist">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-file">
                        <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                        <polyline points="13 2 13 9 20 9"></polyline>
                     </svg>
                     Pharmacist
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/diagnostic">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-shopping-cart">
                        <circle cx="9" cy="21" r="1"></circle>
                        <circle cx="20" cy="21" r="1"></circle>
                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                     </svg>
                     Diagnostic
                  </a>
               </li>
              
               <li class="nav-item">
                  <a class="nav-link" href="/report">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-bar-chart-2">
                        <line x1="18" y1="20" x2="18" y2="10"></line>
                        <line x1="12" y1="20" x2="12" y2="4"></line>
                        <line x1="6" y1="20" x2="6" y2="14"></line>
                     </svg>
                     Reports
                  </a>
               </li>
               
            </ul>



         </div>
      </nav>
      <div class="class=col-md-9 ml-sm-auto col-lg-10 px-md-4">

         <!-- <div class="jumbotron p-3"> -->

         <form class="form-inline d-flex justify-content-center md-form form-sm mt-0 float-right"
            action="{{url_for('report')}}" method="POST">

            <input class="form-control form-control-sm ml-3 w-75" name="searchtext" type="text"
               placeholder="Search SSID" aria-label="Search">
         </form>




         {% with messages = get_flashed_messages() %}

         {% if messages %}

         {% for message in messages %}

         <div class="alert alert-success alert-dismissable" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="close">

               <span aria-hidden="true">x</span>

            </button>


            {{message}}


         </div>


         {% endfor %}

         {% endif %}
         {% endwith %}
         <h2>Enter ssid to get details</h2>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead class="thead-dark">
                  <tr>

                     <th>SSID</th>
                     <th>Name</th>
                     <th>Age</th>
                     <th>Date Of Joining</th>
                     <th>Room type</th>
                     <th>Address</th>
                     <th>State</th>
                     <th>City</th>
                     <th>Status</th>
                     


                  </tr>
               </thead>


               {% for row in data1 %}
               <tr>
                  
                  <td>{{row.ssid}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.age}}</td>
                  <td>{{row.timestamp}}</td>
                  <td>{{row.typeofbed}}</td>
                  <td>{{row.address}}</td>
                  <td>{{row.state}}</td>
                  <td>{{row.city}}</td>
                  <td>{{row.status}}</td>
                  <td>
               </tr>
               <!-- <div class="metric fixed-bottom float-right">
                  <p class="metric-label"> Total Amount </p>
                  <h5 class="metric-value"> {{amount}} </h5>
                </div> -->
               <div class="container fixed-bottom">
                  <span>
                  <a href="/update2/{{row.id}}" class="btn btn-warning btn-xs float-right mx-3">Discharge</a>
                  <h3 class="float-right">RS {{amount}}</h3>
               </span>
               <h3 class="float-left">Total Amount</h3>
               
               
               </div>
               {% endfor %}
            </table>
         </div>
         <br>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead class="thead-dark">
                  <tr>

                     <th>Patient ID</th>
                     <th>Diagnostics Name</th>
                     <th>Amount</th>
                     <!-- <th colspan="2">Action</th> -->

                  </tr>
               </thead>


               {% for row in data2 %}
               <tr>
                  <td>{{row.patient_id}}</td>
                  <td>{{row.name}}</td>
                  <td>{{row.amount}}</td>



               </tr>



         </div>





      </div>


   </div>




   {% endfor %}


   </table>

</div>
<br>
<div class="table-responsive">
   <table class="table table-hover">
      <thead class="thead-dark">
         <tr>

            <th>Patient ID</th>
            <th>Medicine Name</th>
            <th>Quantity</th>
            <th>Rate</th>
            <th>Amount</th>
            <!-- <th colspan="2">Action</th> -->

         </tr>
      </thead>


      {% for row in data %}
      <tr>
         <td>{{row.patient_id}}</td>
         <td>{{row.medicinename}}</td>
         <td>{{row.quantity}}</td>
         <td>{{row.rate}}</td>
         <td>{{row.amount}}</td>



      </tr>



</div>





</div>


</div>




{% endfor %}


</table>




</div>

</div>


</div>

{% endblock %}