{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block head %}

<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block body %}
<div id="parent" class="d-flex justify-content-center align-items-center">

  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="email" class="form-control" id="exampleInputPassword1" name="email" placeholder="Email" required="1">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter Username" name="username" required="1">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password"
        required="1">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" name="checkbox" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form> <!-- /container -->

</div>
{% endblock %}